################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/URDBTool/bin
/URDBTool/obj
/NTICS/bin
/NTICS/obj
/Backup/URDBTool/obj

